@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Poppins&display=swap');
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
.l-spacing{
    letter-spacing: 20px;

}
.font-poppins{
    font-family: 'Poppins', sans-serif;
}
.font-fast{
    font-family: 'Faster One', cursive;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
