@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Poppins&display=swap');
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
.l-spacing{
    letter-spacing: 20px;
}
.btn-transition{
    position: relative;
    overflow: hidden;
}
.btn-transition::after{
    content: "";
    width: 30px;
    height: 100%;
    position: absolute;
    top:0;
    left: -40px;
    background-image: linear-gradient(to right, rgba(255,255,255,.1),rgba(255,255,255,.7));
    transition: all .5s ease;
}
.btn-transition:hover::after{
    left: 100%;
}
.font-poppins{
    font-family: 'Poppins', sans-serif;
}
.font-fast{
    font-family: 'Faster One', cursive;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
